<%- include('header'); -%>
<div class="content">
    <h2>Kieran Gordon</h2>
    <h2>Address: 123 Definitely Real Avenue, Realland</h2>
    <h2>Phone: 0118 999 881 999 119 725 3</h2>
    <h2>Emails Address: kjg2000@hw.ac.uk</h2>
    <br>
    <h2>Jane Doe</h2>
    <h2>Address: 456 Mann Street, Teufort</h2>
    <h2>Phone: 111.. Uh.. 1!</h2>
    <h2>Email: gaben@valvesoftware.com</h2>
</div>
<%- include('footer'); -%>