<%-include("header")-%>
<form action="api/login">
    <p>Username: </p>
    <input size="10" type="text">
    <br>
    <p>Password: </p>
    <input size="10" type="password"><br>
    <br>
    <input type="submit" value="Sign-in" onclick="getlogin">
    <input type="button" value="Sign-Up" onclick="getlogin">
</form>
<%-include("footer")-%>