<%-include("header")-%>
<form method="post(/api/register)">
    <p>Name: </p>
    <input size="10" type="text"><br>
    <p>Username: </p>
    <input size="10" type="text"><br>
    <p>Password: </p>
    <input size="10" type="password"><br>
    <p>Phone: </p>
    <input size="10" type="text"><br>
    
    <input type="submit" value="Submit" onclick="getlogin">

</form>
<%-include("footer")-%>